
.create-button {
    display: inline-flex;
    align-items: center;
    padding: 7px 13px;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s;
  }

  .button-text {
    transition: transform 0.3s, opacity 0.3s;
  }

  .plus-icon {
    position: fixed;
    margin-left: 25px;
    opacity: 0;
    transform: translateX(10px);
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .create-button:hover .button-text {
    transform: translateX(100%);
    opacity: 0;
  }

  .create-button:hover .plus-icon {
    transform: translateX(0);
    opacity: 1;
  }